<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="harrigo" translate="label" sortOrder="10">
            <label>Harrigo</label>
        </tab>
        <section id="deliverycountdown" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Delivery Countdown</label>
            <tab>harrigo</tab>
            <resource>Harrigo_DeliveryCountdown::deliverycountdown_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="string" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delivery Text</label>
					<comment>Set text to be shown on frontend. Shortcodes: {{delivery_date}}, {{time_remaining}}. e.g. For delivery on {{delivery_date}} order within the next {{time_remaining}} seconds!</comment>
                </field>
				<field id="product" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Attribute Code</label>
					<comment>Set a product attribute for delivery days. Overides delivery time days if set for product.</comment>
					 <tooltip>Delivery based on products.</tooltip>
                </field>
				<field id="deliverytime" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delivery Time (Days)</label>
					<comment>Delivery Time in Days.</comment>
                </field>
				<field id="excludedays" translate="label comment tooltip" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Exclude Days</label>
                        <frontend_model>Harrigo\DeliveryCountdown\Block\Adminhtml\System\Config\Form\Field\excludeDays</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                        <comment>
                            <![CDATA[Add bank holidays that are not included in delivery / cut off times.]]>
                        </comment>
                        <tooltip>Delivery and cuttoff not include these days.</tooltip>

				</field>
			</group>
			<group id="delivery" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Delivery Cut Off Times</label>
				<comment>Hour that delivery cuts off for that day 24 hour. Leave Blank if delivery not dispatched on this day.</comment>
				<field id="cutofftimemon" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Monday</label>
                    <source_model>Magento\Config\Model\Config\Source\Date\Short</source_model>
                </field>
				<field id="cutofftimetue" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tuesday</label>
                    <source_model>Magento\Config\Model\Config\Source\Date\Short</source_model>
                </field>
				<field id="cutofftimewed" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Wednesday</label>
                    <source_model>Magento\Config\Model\Config\Source\Date\Short</source_model>
                </field>
				<field id="cutofftimethu" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Thursday</label>
                    <source_model>Magento\Config\Model\Config\Source\Date\Short</source_model>
                </field>
				<field id="cutofftimefri" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Friday</label>
                    <source_model>Magento\Config\Model\Config\Source\Date\Short</source_model>
                </field>
				<field id="cutofftimesat" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Saturday</label>
                    <source_model>Magento\Config\Model\Config\Source\Date\Short</source_model>
                </field>
				<field id="cutofftimesun" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sunday</label>
                    <source_model>Magento\Config\Model\Config\Source\Date\Short</source_model>
                </field>

            </group>
        </section>
    </system>
</config>
